.footer {
  position: relative;
  top: 100;
  background-color: #FFE3DA;
  color: #5A2E22;
}

.devName {
  text-decoration: none;
  color: rgb(191, 73, 14);
  font-size: 1.3rem;
  font-weight: 650;
}

.devName:hover {
  color: rgb(178, 7, 124);
}